<div id="navbar" class="navbar-collapse collapse">
    <form class="navbar-form navbar-right">
        <div class="form-group">
            <input type="text" placeholder="Email" ng-model="login.loginData.userName" class="form-control">
        </div>
        <div class="form-group">
            <input type="password" placeholder="Password" ng-model="login.loginData.password" class="form-control">
        </div>
        <button type="submit" ng-click="login.login()" class="btn btn-success">Sign in</button>
    </form>
</div>