<div class="container">
    <form name="loginForm" class="form-signin" ng-submit="login.login(login.loginForm.$valid)" novalidate>
        <h2 class="form-signin-heading">Please sign in</h2>
        <div class="form-group" ng-class="{'has-error': loginForm.username.$invalid && !loginForm.username.$pristine}">
            <label for="inputEmail">Email address</label>
            <input type="text" id="inputEmail" name="username" class="form-control" placeholder="Email address" ng-minlength="3" required="" autofocus="" ng-model="login.loginData.userName">
            <span ng-show="loginForm.username.$invalid && !loginForm.username.$pristine && !loginForm.username.$error.minlength" class="help-block">User is required</span>
            <span ng-show="loginForm.username.$error.minlength" class="help-block">Is too short</span>
        </div>

        <div class="form-group" ng-class="{'has-error': loginForm.password.$invalid && !loginForm.password.$pristine}">
            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="" autofocus="" ng-model="login.loginData.password">
            <span ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block">Please enter password</span>
        </div>

        <div class="error" >
            <span ng-show="!loginForm.password.$error.wronglogin && loginForm.$submitted" class="help-block">{{login.serverError}}</span>
        </div>
        <!--<div ng-class="{'has-error': loginForm.$submitted}" ng-messages="login.serverErrors" ng-show="loginForm.$submitted" ng-cloak>
            <span ng-message="emailexists" class="help-block">{{login.serverErrors}}</span>
        </div>-->
        <span>Login:{{loginForm.password.$error.wronglogin}}</span>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>